.head_section {
    width: 100%;
    background-color: #008ecc;
    padding: 5px 0;
    text-align: center;
    border-radius: 8px;
    font-size: 0;
}

h1 {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 40px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

/* Nav Bar Section*/

nav {
    margin: 27px auto 0;
    position: relative;
    width: 320px;
	height: 50px;
}

nav a {
    line-height: 50px;
    height: 100%;
    width: 100px;
    font-size: 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-left: 5px;
}

nav a:hover {
    background-color: #3498db;
}

.active {
    background-color: #32cd32;
}


/* Form Section */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin: 10px 0 20px 0;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #ffe6ff;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

input[type="text"],
input[type="number"],
select {
    border-radius: 3px;
    border-width: thin;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.predict_button {
    padding: 10px 39px 10px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

/* Result Section */

.result_section {
    text-align: center;
    border-radius: 8px;
    background-color: #ffe6ff;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
}

.result_statement {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

/* About Section */

.about {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	border-style: solid;
    border-radius: 10px;
    border-color: #e74c3c;
}

.list_item {
	margin: 10px;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\25CF";
	color: #9b59b6;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

/* Media Queries */

@media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }

    .result_section {
        max-width: 480px;
    }
  
}