<html>

<head>
    <title> Churn Detection Website </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel = "icon" href =  "../static/images/favicon32.png" type = "image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
</head>

    <body>

        <!-- Head Section  -->
        <div class='head_Section'>
            <h1> Telecom Churn Detection </h1>
            <nav>
                <a href='/'>Home</a>
                <a href='#' class='active'>About</a>
            </nav>
        </div>

        <!-- About Section -->
        <div class='outer_div'>
            <h2 class='about_heading'> About Project </h2>
            <div class="about">
                <ul>
                    <li class='list_item'> This customer churn detection project is a mini project implemented using the Telecom Customer Churn dataset available <a href='https://www.kaggle.com/blastchar/telco-customer-churn'> here</a>. </li>
                    <li class='list_item'> The user has to give certain details about the customer the the system will predict whether the customer may stop using the service or not.</li>
                    <li class='list_item'> Gradient Boosting algorithm is used for classification of churn. </li>
                    <li class='list_item'> The source code of the project is available in my GitHub repository <a href='https://github.com/AnkitaKar1998/Telecom_Churn_Detection'> here</a>.</li>
                </ul>
            </div>
        </div>
    </body>
</html>